body {
	margin: 0%;
	font-family: "Arial";   
  font-weight: bold;  
   min-width: 1000px;
 // max-width: 500px; 
}

header {
	margin: 0%;
	padding: 0%;
	height: 0%;
	width: 0%
}
section {
	padding: 1%;
	margin: 1%;
  margin-top: 0%;
  padding-top: 0%;   
  	width: 65%;
	float: left;
	text-align: center;
	height: 100%;	
	 
}   
.tabulka {
	padding: 1%; 
	margin: 1%;
  	width: 25%;
	margin-top: 0.5%; 
        float: right;
	border: solid;
	border-color: black;
	//position: absolute;
	//top:1%;
	//right:0;
}
canvas {
	float:right;
	width: 40%;
	height: 100%;
}



input {
	margin: 0.5em;
  width: 15em;
	font-family: "Comic Sans MS";
	background-color: inherit;
	font-weight: bold;
	border: none;
	
}

select {
	font-family: "Arial";
	font-size: larger;
}
 
 
 
 
 .slider{
    -webkit-appearance: none;
      width: 70%;
      height: 20px;
      background: red;
      outline: none;
      opacity: 0.7;
      -webkit-transition: 0.2s;
      transition: opacity: 0.2s;
      border-radius: 12px;
      padding:0;
 }
 .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 40px;
     height: 40px;
     background: green;
     border-radius: 50%;
     cursor: pointer;
 }
 .slider::-moz-range-thumb{
   
     width: 40px;
     height: 40px;
     background: green;
     border-radius: 50%;
     cursor: pointer;
     border:0;
 }

.slider::-ms-track {
    background: red; 
    height: 4px; 
    border-radius: 4px; 
    border: none;
    color: transparent;
}



.slider::-ms-thumb {
    background: green; 
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    border: none;
    margin: 0 4px 0; 
    
    
}
slider::-ms-tooltip {
    display: none; 
}

.slider::-ms-fill-lower {
    background: red; 
    border-radius: 4px; 
}

input[type="image"] {
width: 25%;
height: 30%;

/*position: relative;
  right: 69%;
  top: -90px;*/
//float:left;

}

.tlac{
position: absolute;
  //right: 40%;
  top: 0%;
float:left;
width: 20%;
height:30%;
//margin-top:0.5%;

}

.contajner{
float:left;
width: 60%;
height:100%;
}

nav {
width: 50%;
float: right;
//position: relative;
//left: 15%;
text-align: center;
padding: 1%;
margin-top: 0.5%;
margin-bottom: 1%;
margin-left: 0;
display:none;
}
nav a{
	
	//margin: 1%;
	padding: 1%;
	color: black;
	background-color: #00ff99;
	font-weight: bold;
	font-size: large;
 	text-decoration:none; 
	text-align: center;
	border: solid;
	border-color: black;
	
	
}
nav a:hover {
	background-color: #9CD4FF;
}

a{
font-size:1.em;
text-decoration:none; 
background-color: #e3c23d;
padding: 2%;
border: solid;
font-weight: bold;
border-color: black;
margin-right:1%;

}
footer {
	font-weight: 700;
  	width: 100%;
	float: left;
	background-color: #c2e495;
	text-align: center;
	

	
	
}
footer p strong {
color: blue;
}

a:hover{
      background-color: #9CD4FF;
}

